
<div class="container">
	<h1>Clowow</h1>
	<p>
		<button type="button" class="btn btn-primary btn-block">Upload</button>
		<a href="/users">Accounts</a>
		<a href="/posts">Posts</a>
	</p>
	<% @posts.each do |post| %>
	<div class="post">
		<img src="<%= post.content %>">
		<% @users.each do |user| %>
			<% if user[:id] == post[:user_id] %>
			<a href="/users/<%= user[:id] %>"><%= user[:name] %></a>
			<% end %>
		<% end %>
	</div>
	<% end %>
</div>