// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: hsla(201, 71%, 91%, 1)
}

h1 {
	text-align: center;
	color: hsl(0,0%, 100%);
	font-size: 4em;
	font-weight: bold;
	text-shadow: 1px 1px 1px hsla(0,0%,0%,.2);
}