// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: hsla(200, 70%, 90%, 1)
}

.header img {
	margin-top: 2em
}

h2 {
	color: hsla(200,30%,50%,.6);
	font-size: 2em;
	font-weight: 200;
	text-shadow: 0px 0px 2px hsla(200,0%, 100%, .5);
	margin-top: .5em
}

.header {
	text-align: center;
}

.upload {
	font-size: 2em;
	padding: .3em 2em;
	margin-top: .5em;
}

.sort {
	margin-top: 1.5em;
}

.post {
	box-shadow: 0px 0px 1px hsla(0,0%,0%, .3)
}

.feed {
	margin-top: 2em;
}

.info {
	margin-top: 1em;
	color: hsla(200, 5%, 70%, 1);
}

.comments {
	display: none;
}

.comment-count {
	text-align: right;
}

.submit-comment {
	margin-top: 1.5em;
}

.post {
	margin-top: 2em;
	padding: 1em;
	font-size: 1.2em;
	background-color: hsla(0,100%,100%,1);
	margin-bottom: 1em;
	border-radius: 5px;
	img {
		width: 100%;
		border-radius: 2px;
	}
}

.location {
	text-align: center;
}

.comments {
	max-height: 255px;
	overflow-x: auto;
	overflow-y: scroll;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
